

<!DOCTYPE html>
<html lang="en">
<head>
  <style>
  form{
    padding: 25px 100px ;
  }
  h1{
    text-align: center;
  }
</style>
</head>
{% extends "base.html" %}
<Body style = "text-align: center;">
  {% block content %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
{% endfor %}
<h1> Log In</h1>
<form action="" method="post">
  {% csrf_token %}    
    
    {% for field in form %}
    <div class="mb-3 row">
      <label for="" class="col-sm-2 col-form-label">{{ field.label_tag }}</label>
      
      <div class="col-sm-10">
        {{ field }}
      </div>
  </div>
  {% endfor %}
  <button type = "submit">Log In</button>
</form>
{% endblock %}
</Body>
</html>